#catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 38px;
    width: 1200px;
}
img {
    width: 336px;
    margin: 20px 20px 0px 20px;
}
.product-view {
    border-left: 3px solid red;
    border-bottom: 3px solid red;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    margin: 10px 10px;
    height: auto;
    max-width: 33.333%;
}
.product-name, .product-color, .product-size {
    font-size:24px;
    font-weight: bold;
    color: #333333;
    margin-left: 20px;
}
.product-name span {
    color: darkred;
    font-size: 38px;
    font-family: "Lucida Calligraphy", fangsong;
    margin-left: 20px;
    margin-right: 10px;
}